# EDA

## Importing Packages

1) Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data.
2) NumPy is a Python library used for working with arrays
3) Matplotlib is a low level graph plotting library in python that serves as a visualization utility. 
4) Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# to suppress warning messages that might be displayed during the execution of code for sake of clean output
import warnings
#warning filter in Python handles warnings (presented, disregarded or raised to exceptions)
warnings.filterwarnings('ignore')
# “ignore” Never display warnings which match

## Reading Files and Getting an Overview of Files Related to Instacart Market Basket Analysis

What are the first few steps we are doing to get an overview of each file?
1) Load the CSV file
2) Use file_name.head(), file_name.tail() -> to view top 5 and bottom 5 rows of dataframe
3) Use file_name.info() -> it provides essential details such as the total number of non-null values, data types of each column, and memory usage
4) Use file_name.describe(include = all) -> Generates descriptive statistics for numeric columns, such as count, mean, standard deviation, minimum, maximum, and quartiles
5) Use file_name.shape -> Returns the dimensions of the DataFrame
6) Use file_name.columns -> Return the column names of the DataFrame
7) Use file_name.dtypes -> Returns the data types of each column
8) Use file_name['column_name'].value_counts() -> Returns a Series containing counts of unique values for a specified column
9) Use file_name['column_name'].unique() -> Returns the unique values in a specified column
10) Use file_name.nunique() -> Returns the number of unique values in each column
11) Use file_name.isnull().sum() -> number of missing values in each column

##### explanation of order_products__SET(prior,test,train)

1) all orders prior to most recent order of every user_id are evaluated as prior in orders (3421083-206209) = 3214874
2) For 206209 users the most recent orders would be 206209 which are evaluated into train and test in ratio of ~ 7/4

### Load and Overview of aisles.csv

In [11]:
aisles = pd.read_csv("/Users/vythreynarayanam/Downloads/DA Consultancy/Instacart/Instacart_Market_Basket_EDA_Python/aisles.csv")

In [12]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [13]:
aisles.tail()

     aisle_id                       aisle
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

In [14]:
aisles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [15]:
aisles.describe(include = "all")

          aisle_id                       aisle
count   134.000000                         134
unique         NaN                         134
top            NaN  specialty wines champagnes
freq           NaN                           1
mean     67.500000                         NaN
std      38.826537                         NaN
min       1.000000                         NaN
25%      34.250000                         NaN
50%      67.500000                         NaN
75%     100.750000                         NaN
max     134.000000                         NaN

In [16]:
aisles.shape

(134, 2)

In [17]:
aisles.columns

Index(['aisle_id', 'aisle'], dtype='object')

In [18]:
aisles.dtypes

aisle_id     int64
aisle       object
dtype: object

In [19]:
aisles['aisle'].value_counts()

aisle
specialty wines champagnes    1
prepared soups salads         1
specialty cheeses             1
energy granola bars           1
instant foods                 1
                             ..
kitchen supplies              1
cold flu allergy              1
fresh pasta                   1
prepared meals                1
tofu meat alternatives        1
Name: count, Length: 134, dtype: int64

In [20]:
aisles['aisle'].unique()

array(['prepared soups salads', 'specialty cheeses',
       'energy granola bars', 'instant foods',
       'marinades meat preparation', 'other', 'packaged meat',
       'bakery desserts', 'pasta sauce', 'kitchen supplies',
       'cold flu allergy', 'fresh pasta', 'prepared meals',
       'tofu meat alternatives', 'packaged seafood', 'fresh herbs',
       'baking ingredients', 'bulk dried fruits vegetables',
       'oils vinegars', 'oral hygiene', 'packaged cheese', 'hair care',
       'popcorn jerky', 'fresh fruits', 'soap', 'coffee', 'beers coolers',
       'red wines', 'honeys syrups nectars', 'latino foods',
       'refrigerated', 'packaged produce', 'kosher foods',
       'frozen meat seafood', 'poultry counter', 'butter',
       'ice cream ice', 'frozen meals', 'seafood counter',
       'dog food care', 'cat food care', 'frozen vegan vegetarian',
       'buns rolls', 'eye ear care', 'candy chocolate', 'mint gum',
       'vitamins supplements', 'breakfast bars pastries',
       'packaged poultry', 'fruit vegetable snacks',
       'preserved dips spreads', 'frozen breakfast', 'cream',
       'paper goods', 'shave needs', 'diapers wipes', 'granola',
       'frozen breads doughs', 'canned meals beans', 'trash bags liners',
       'cookies cakes', 'white wines', 'grains rice dried goods',
       'energy sports drinks', 'protein meal replacements', 'asian foods',
       'fresh dips tapenades', 'bulk grains rice dried goods',
       'soup broth bouillon', 'digestion',
       'refrigerated pudding desserts', 'condiments', 'facial care',
       'dish detergents', 'laundry', 'indian foods', 'soft drinks',
       'crackers', 'frozen pizza', 'deodorants',
       'canned jarred vegetables', 'baby accessories', 'fresh vegetables',
       'milk', 'food storage', 'eggs', 'more household', 'spreads',
       'salad dressing toppings', 'cocoa drink mixes', 'soy lactosefree',
       'baby food formula', 'breakfast bakery', 'tea',
       'canned meat seafood', 'lunch meat', 'baking supplies decor',
       'juice nectars', 'canned fruit applesauce', 'missing',
       'air fresheners candles', 'baby bath body care',
       'ice cream toppings', 'spices seasonings',
       'doughs gelatins bake mixes', 'hot dogs bacon sausage',
       'chips pretzels', 'other creams cheeses', 'skin care',
       'pickled goods olives', 'plates bowls cups flatware', 'bread',
       'frozen juice', 'cleaning products',
       'water seltzer sparkling water', 'frozen produce',
       'nuts seeds dried fruit', 'first aid', 'frozen dessert', 'yogurt',
       'cereal', 'meat counter', 'packaged vegetables fruits', 'spirits',
       'trail mix snack mix', 'feminine care', 'body lotions soap',
       'tortillas flat bread', 'frozen appetizers sides',
       'hot cereal pancake mixes', 'dry pasta', 'beauty',
       'muscles joints pain relief', 'specialty wines champagnes'],
      dtype=object)

In [21]:
aisles.nunique()

aisle_id    134
aisle       134
dtype: int64

In [22]:
aisles.isnull().sum()

aisle_id    0
aisle       0
dtype: int64

### Load and Overview of departments.csv

In [24]:
departments = pd.read_csv("/Users/vythreynarayanam/Downloads/DA Consultancy/Instacart/Instacart_Market_Basket_EDA_Python/departments.csv")

In [25]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [26]:
departments.tail()

    department_id department
16             17  household
17             18     babies
18             19     snacks
19             20       deli
20             21    missing

In [27]:
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes

In [28]:
departments.describe(include = "all")

        department_id department
count       21.000000         21
unique            NaN         21
top               NaN     frozen
freq              NaN          1
mean        11.000000        NaN
std          6.204837        NaN
min          1.000000        NaN
25%          6.000000        NaN
50%         11.000000        NaN
75%         16.000000        NaN
max         21.000000        NaN

In [29]:
departments.shape

(21, 2)

In [30]:
departments.columns

Index(['department_id', 'department'], dtype='object')

In [31]:
departments.dtypes

department_id     int64
department       object
dtype: object

In [32]:
departments.value_counts()

department_id  department
1              frozen             1
2              other              1
3              bakery             1
4              produce            1
5              alcohol            1
6              international      1
7              beverages          1
8              pets               1
9              dry goods pasta    1
10             bulk               1
11             personal care      1
12             meat seafood       1
13             pantry             1
14             breakfast          1
15             canned goods       1
16             dairy eggs         1
17             household          1
18             babies             1
19             snacks             1
20             deli               1
21             missing            1
Name: count, dtype: int64

In [33]:
departments.nunique()

department_id    21
department       21
dtype: int64

In [34]:
departments['department'].unique()

array(['frozen', 'other', 'bakery', 'produce', 'alcohol', 'international',
       'beverages', 'pets', 'dry goods pasta', 'bulk', 'personal care',
       'meat seafood', 'pantry', 'breakfast', 'canned goods',
       'dairy eggs', 'household', 'babies', 'snacks', 'deli', 'missing'],
      dtype=object)

In [35]:
departments.isnull().sum()

department_id    0
department       0
dtype: int64

### Load and Overview of order_products__prior.csv

In [37]:
order_products__prior = pd.read_csv("/Users/vythreynarayanam/Downloads/DA Consultancy/Instacart/Instacart_Market_Basket_EDA_Python/order_products__prior.csv")

In [38]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [39]:
order_products__prior.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [40]:
order_products__prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [41]:
order_products__prior.describe(include ='all')

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [42]:
order_products__prior.shape

(32434489, 4)

In [43]:
order_products__prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [44]:
order_products__prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [45]:
order_products__prior['order_id'].value_counts()

order_id
1564244    145
790903     137
61355      127
2970392    121
2069920    116
          ...
2598821      1
2598823      1
994073       1
1879715      1
1466479      1
Name: count, Length: 3214874, dtype: int64

In [46]:
order_products__prior['reordered'].unique()

array([1, 0])

In [47]:
order_products__prior.nunique()

order_id             3214874
product_id             49677
add_to_cart_order        145
reordered                  2
dtype: int64

In [48]:
order_products__prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Load and Overview of order_products__train.csv

In [50]:
order_products__train = pd.read_csv("/Users/vythreynarayanam/Downloads/DA Consultancy/Instacart/Instacart_Market_Basket_EDA_Python/order_products__train.csv")

In [51]:
order_products__train.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
5         1       13176                  6          0
6         1       47209                  7          0
7         1       22035                  8          1
8        36       39612                  1          0
9        36       19660                  2          1

In [52]:
order_products__train.tail()

         order_id  product_id  add_to_cart_order  reordered
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

In [53]:
order_products__train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           1384617 non-null  int64
 1   product_id         1384617 non-null  int64
 2   add_to_cart_order  1384617 non-null  int64
 3   reordered          1384617 non-null  int64
dtypes: int64(4)
memory usage: 42.3 MB

In [54]:
order_products__train.describe(include = "all")

           order_id    product_id  add_to_cart_order     reordered
count  1.384617e+06  1.384617e+06       1.384617e+06  1.384617e+06
mean   1.706298e+06  2.555624e+04       8.758044e+00  5.985944e-01
std    9.897326e+05  1.412127e+04       7.423936e+00  4.901829e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.433700e+05  1.338000e+04       3.000000e+00  0.000000e+00
50%    1.701880e+06  2.529800e+04       7.000000e+00  1.000000e+00
75%    2.568023e+06  3.794000e+04       1.200000e+01  1.000000e+00
max    3.421070e+06  4.968800e+04       8.000000e+01  1.000000e+00

In [55]:
order_products__train.shape

(1384617, 4)

In [56]:
order_products__train.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [57]:
order_products__train.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [58]:
order_products__train["add_to_cart_order"].value_counts()

add_to_cart_order
1     131209
2     124364
3     116996
4     108963
5     100745
       ...
76         5
77         3
79         2
80         2
78         2
Name: count, Length: 80, dtype: int64

In [59]:
order_products__train["reordered"].unique()

array([1, 0])

In [60]:
order_products__train.nunique()

order_id             131209
product_id            39123
add_to_cart_order        80
reordered                 2
dtype: int64

In [61]:
order_products__train.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Load and Overview of orders.csv

In [63]:
orders = pd.read_csv("/Users/vythreynarayanam/Downloads/DA Consultancy/Instacart/Instacart_Market_Basket_EDA_Python/orders.csv")

In [64]:
orders.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0

In [65]:
orders.tail(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421073,2307371,206209,prior,5,4,15,3.0
3421074,3186442,206209,prior,6,0,16,3.0
3421075,550836,206209,prior,7,2,13,9.0
3421076,2129269,206209,prior,8,3,17,22.0
3421077,2558525,206209,prior,9,4,15,22.0
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [66]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [67]:
orders.describe(include = "all")

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3421083,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
unique,NaN,NaN,3,NaN,NaN,NaN,NaN
top,NaN,NaN,prior,NaN,NaN,NaN,NaN
freq,NaN,NaN,3214874,NaN,NaN,NaN,NaN
mean,1.710542e+06,1.029782e+05,NaN,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,NaN,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,NaN,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,NaN,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,NaN,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,NaN,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,NaN,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [68]:
orders.shape

(3421083, 7)

In [69]:
orders.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [70]:
orders.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [71]:
orders["eval_set"].value_counts()

eval_set
prior    3214874
train     131209
test       75000
Name: count, dtype: int64

In [72]:
orders['days_since_prior_order'].unique()

array([nan, 15., 21., 29., 28., 19., 20., 14.,  0., 30., 10.,  3.,  8.,
       13., 27.,  6.,  9., 12.,  7., 17., 11., 22.,  4.,  5.,  2., 23.,
       26., 25., 16.,  1., 18., 24.])

In [73]:
orders["days_since_prior_order"].value_counts()

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [74]:
orders.nunique()

order_id                  3421083
user_id                    206209
eval_set                        3
order_number                  100
order_dow                       7
order_hour_of_day              24
days_since_prior_order         31
dtype: int64

In [75]:
orders.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

### Load and Overview of products.csv

In [77]:
products = pd.read_csv("/Users/vythreynarayanam/Downloads/DA Consultancy/Instacart/Instacart_Market_Basket_EDA_Python/products.csv")

In [78]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [79]:
products.tail()

,product_id,product_name,aisle_id,department_id
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [80]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [81]:
products.describe(include ="all")

          product_id            product_name      aisle_id  department_id
count   49688.000000                   49688  49688.000000   49688.000000
unique           NaN                   49688           NaN            NaN
top              NaN  Fresh Foaming Cleanser           NaN            NaN
freq             NaN                       1           NaN            NaN
mean    24844.500000                     NaN     67.769582      11.728687
std     14343.834425                     NaN     38.316162       5.850410
min         1.000000                     NaN      1.000000       1.000000
25%     12422.750000                     NaN     35.000000       7.000000
50%     24844.500000                     NaN     69.000000      13.000000
75%     37266.250000                     NaN    100.000000      17.000000
max     49688.000000                     NaN    134.000000      21.000000

In [82]:
products.shape

(49688, 4)

In [83]:
products.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

In [84]:
products.dtypes

product_id        int64
product_name     object
aisle_id          int64
department_id     int64
dtype: object

In [85]:
products['aisle_id'].value_counts()

aisle_id
100    1258
45     1246
37     1091
47     1038
120    1026
       ...
113      47
82       44
32       32
68       26
18       12
Name: count, Length: 134, dtype: int64

In [86]:
products['department_id'].unique()

array([19, 13,  7,  1, 11, 16, 17, 18, 12,  9,  8, 14, 15,  4, 21,  6, 20,
        5,  3,  2, 10])

In [87]:
products.nunique()

product_id       49688
product_name     49688
aisle_id           134
department_id       21
dtype: int64

In [88]:
products.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

## Data Cleaning